
# Node.js / React
frontend/node_modules/
frontend/build/
frontend/.env

# Django / Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env

# Logs
*.log

# IDE / éditeurs
.vscode/
.idea/
.DS_Store
